@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
* {
  font-family: "Do Hyeon", sans-serif;
  position: relative;
}

html, body {
  background: black;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.citys {
  padding: 20px 40px;
  height: 100px;
}
.citys * {
  color: white;
}
.citys h1 {
  font-size: 48px;
  letter-spacing: 5px;
  margin: 0;
}

.city {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  z-index: 1;
  width: 50vw;
}
.city .clear {
  padding: 3px 10px;
  border: solid 1px white;
  border-radius: 15px;
  color: white;
  letter-spacing: 3px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 10px;
  margin-right: 10px;
}
.city .clear:hover {
  color: white;
  transform: scale(1.05);
}
.city .name {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border: solid 1px white;
  letter-spacing: 2px;
}

svg {
  width: 85vw;
  height: 70vh;
  top: 100px;
  transition: 0.3s;
}
svg path {
  stroke: white;
  fill: transparent !important;
  transition: 0.2s;
}
svg path:hover {
  fill: rgba(255, 255, 255, 0.7) !important;
}
svg path:active {
  fill: white !important;
}

.clicked {
  fill: white !important;
  transform: translate(-7px, -7px);
  stroke-width: 4;
}

.tooltip {
  width: 450px;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 20px;
  transform: scale(0.9);
}
.tooltip * {
  color: white;
  letter-spacing: 3px;
  font-family: "Source Sans Pro", sans-serif;
}
.tooltip h3 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
}
.tooltip .statusList {
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip .statusList .status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tooltip .statusList .status .type {
  border-radius: 50%;
  border: solid 1px white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip .statusList .status .amount {
  text-align: center;
  margin-top: 10px;
}

.country_tip {
  color: white;
  position: absolute;
  padding: 4px 12px;
  border-radius: 10px;
  background-color: #707070;
  border: solid 1px white;
  letter-spacing: 2px;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 1;
  pointer-events: none;
  transition: 0.2s;
}

.priceRange {
  margin-top: 30px;
  padding: 10px 30px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  padding: 30px 20px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 50%;
}
.priceRange * {
  color: white;
}
.priceRange .top {
  height: 130px;
}
.priceRange .top .country-amount {
  position: absolute;
  right: 0px;
  top: 0px;
}
.priceRange h4 {
  margin: 0;
  font-size: 36px;
  margin-bottom: 20px;
}
.priceRange .country-amount {
  width: 200px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 10px;
  border: solid 1px black;
  border-radius: 10px;
}
.priceRange .country-amount .country {
  display: flex;
}
.priceRange .country-amount .country .name {
  margin-right: 15px;
}
.priceRange .rangeInfo {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceRange .rangeInfo .dash {
  width: 20px;
  border-top: solid 1px black;
}
.priceRange .rangeInfo .lower, .priceRange .rangeInfo .upper {
  padding: 5px 10px;
  border-radius: 8px;
  border: solid 1px black;
}

.search {
  width: 280px;
}
.search input {
  letter-spacing: 2px;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  padding-left: 5px;
  padding: 20px;
}

.color_palettes {
  position: absolute;
  right: 120px;
  bottom: 30px;
}
.color_palettes div {
  width: 35px;
  height: 35px;
  color: white;
  margin-bottom: 5px;
  border: solid 1px white;
}
.color_palettes .level0 {
  background-color: #3f4042;
}
.color_palettes .level1 {
  background-color: #63f26f;
}
.color_palettes .level2 {
  background-color: #63f26f;
}
.color_palettes .level3 {
  background-color: #63f26f;
}
.color_palettes .level4 {
  background-color: #63f26f;
}
.color_palettes .level5 {
  background-color: #287225;
}
.color_palettes p {
  position: absolute;
  width: 80px;
  top: 50%;
  transform: translate(calc(50% + 10px), -50%);
}

path.level0 {
  fill: #3f4042 !important;
}

path.level1 {
  fill: #63f26f !important;
}

path.level2 {
  fill: #63f26f !important;
}

path.level3 {
  fill: #63f26f !important;
}

path.level4 {
  fill: #63f26f !important;
}

path.level5 {
  fill: #63f26f !important;
}